*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #111827;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
    padding-top: 19px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 200;
}
nav ul li a:hover{
    background-color:#0000fe;
    border-radius: 22px;
    padding: 2px 5px 2px 5px;
    font-weight: 400;
}
img[alt="menu"]{
    width: 20px;
    display: none;
}
/* Navbar end */

/* Rows */
.rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}
/* Rows Right */
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2{
   font-size: 54px; 
   color: aliceblue;
}
.col-1 h3{
    font-size: 25px;
    color: aliceblue;
    font-weight: 100;
}
.col-1 p{
    font-size: 22px;
    color: #c1c257;
    font-weight: 100;
}

/* Rows Left */
.col-2 .computer{
    width: 90%;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
/* Rows End */



/* heading underline */
.heading{
    color: aliceblue;
    text-align: center;
    border-radius: 20px;
    text-decoration:underline #0000fe 4px;
}
/* heading underline end */

/* Rows 2 */
.rows2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding:30px;

}
 img[alt="project"]{
    height: 250px;
   
}
p{
    color: aliceblue;
    text-align: center;
}



/* Footer */
img[alt="socials"]{
    width: 30px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0; 
}

@media screen and (max-width:768px){
    nav ul{
        display: none;
    }
    img[alt="menu"]{
        display: block;
    }
    .rows{
        display: flex;
        flex-direction: column;
    }
    .col-2 .computer{
        width: 60vw;
    }

    .col-1 h2{
        font-size: 30px; 
        
     }
     .col-1 h3{
         font-size: 20px;
         text-align: center;
     }
     .col-1 p{
         font-size: 16px;
        text-align: center;
     }
     .rows2{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px; 
     }
     img[alt="project"]{
        height: 150px;
       
    }

    img[alt="socials"]{
        width: 20px;
    }

    
}